body {
    padding: 0;
    margin: 0;
}
.start {
    padding-top: 10px;
    margin-left: 50px;
}
.score {
    margin-top: 20px;
    margin-left: 50px;
}

.over {
    margin-left: 220px;
    font-size: 20pt;
    color: red;
}
